<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add your page!</title>
    <link href="css/demo.css" rel="stylesheet" type="text/css">
    <!--Framework-->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
    <!--End Framework-->
    <script src="js/jquery.ffform.js" type="text/javascript"></script>
</head>
<body>
<section id="getintouch" class="flipInX animated">
    <div class="container" style="border-bottom: 0;">
        <h1>
            <span>Add your page!</span>
        </h1>
    </div>
    <div class="container">
        <form class="contact" action="/page" method="post" id="form">
            <div class="row clearfix">
                <div class="lbl">
                    <label for="title">
                        Title</label>
                </div>
                <div class="ctrl">
                    <input type="text" id="title" name="title" data-required="true" data-validation="text"
                           data-msg="Invalid Name" placeholder="Your page title">
                </div>
            </div>
            <!--<div class="row clearfix">-->
                <!--<div class="lbl">-->
                    <!--<label for="title">-->
                        <!--Url</label>-->
                <!--</div>-->
                <!--<div class="ctrl">-->
                    <!--<input type="text" id="url" name="url" data-required="true" data-validation="text"-->
                           <!--data-msg="Invalid Name" placeholder="Your url">-->
                <!--</div>-->
            <!--</div>-->
            <div class="row clearfix">
                <div class="lbl">
                    <label for="text">
                        Text</label>
                </div>
                <div class="ctrl">
                    <textarea id="text" name="text" rows="6" cols="10" placeholder="Your page text"></textarea>
                </div>
            </div>
            <div class="row  clearfix">
                <div class="span10 offset2">
                    <input type="submit" name="submit" id="submit" class="submit" value="Add Page">
                </div>
            </div>
        </form>
    </div>
    </div>
</section>
</body>
</html>
