<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" id="Main">
<head>
    <title th:text="${search_text}">Google Search</title>
    <link style="text/css" rel="stylesheet" href="./templates/styles/main.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<div id="container">
    <div id="header">
        <div id="left-header">
            <div id="logo-container">
                <img id="logo" src="./templates/images/google.png">
            </div>
            <div id="searchbar-container">
                <input type="text" id="searchbar" th:value="${search_text}" value="build this page"/>
                <input type="button" value="Search" id="searchbutton"/>
            </div>
        </div>

        <div id="right-header">
            <nav id="right-header-menu">
                <div><a href="#"><img id="apps" src="./templates/images/apps.png"/></a></div>
                <input id="signinbutton" type="button" value="Sign in"/>
            </nav>
        </div>

    </div>
    <div id="category-container">
        <nav>
            <ul id="category">
                <a href="#">
                    <li id="current-category">All</li>
                </a>
                <a href="#">
                    <li class="not-selected-category">Videos</li>
                </a>
                <a href="#">
                    <li class="not-selected-category">Images</li>
                </a>
                <a href="#">
                    <li class="not-selected-category">News</li>
                </a>
                <a href="#">
                    <li class="not-selected-category">Maps</li>
                </a>
                <a href="#">
                    <li id="more">
                        <span>More</span>
                        <span id="more-arrow"></span>
                    </li>
                </a>
                <input id="searchtools" type="button" value="Search tools"/>
            </ul>

            <div id="gear-container">
                <input type="button" id="gear"/>
            </div>
        </nav>
    </div>
    <div id="body">
        <div>
            <p id="results-count" th:text="${result}">About 695,000,000 results (0.48 seconds)</p>
        </div>
        <table>
            <tr th:each="page:${pages}">
                <div>
                    <a th:href="@{'show?title='+${page.title}+'&search_text='+${search_text}}"
                       href="show?${page.title}"><h3
                            th:text="${page.title}">
                        Build This Ltd | Facebook</h3></a>
                    <span class="result-url">https://www.hdy.im/</span>
                    <a href="#"><span class="link-arrow"></span></a>
                    <p class="linkdesc" th:text="${page.text}"><b>Build This</b> Ltd. 297 likes · 1 talking about this.
                        New <b>Build's</b> and
                        Renovations. ... Message this <b>Page</b>, learn about upcoming events and more. If you don't
                        have a
                        ...
                    </p>
                </div>
            </tr>
        </table>
        <div id="related-search">
            <h3 id="related-search-header">Searches related to build this page</h3>
            <!--<ul id="related-list1">-->
            <!--<li><a href="#">add pin it button to website</a></li>-->
            <!--<li><a href="#">pinterest hover button blogger</a></li>-->
            <!--<li><a href="#">pinterest widget for blogger</a></li>-->
            <!--<li><a href="#">pin site button does not allow you to</a></li>-->


            <!--</ul>-->
            <ul id="related-list1" th:each="rec:${recommend}">
                <!--<h1>asdad</h1>-->
                <li><a href="#" th:text="${rec}">add pin it button to website</a></li>
                <!--<li><a href="#">pinterest hover button blogger</a></li>-->
                <!--<li><a href="#">pinterest widget for blogger</a></li>-->
                <!--<li><a href="#">pin site button does not allow you to</a></li>-->


            </ul>
            <!--<ul id="related-list2">-->
            <!--<li><a href="#">custom pinterest button</a></li>-->
            <!--<li><a href="#">pinterest hover button wordpress</a></li>-->
            <!--<li><a href="#">how to add pinterest button to wordpress blog</a></li>-->
            <!--<li><a href="#">how to add pin it button to wordpress pictures</a></li>-->
            <!--</ul>-->
        </div>
        <table id="searchnav">
            <tbody>
            <tr valign="top">
                <td id="Gcol"><span id="G"></span></td>
                <td id="o1col"><span id="o1"></span>1</td>
                <td class="o2col"><a href="#"><span class="o2"></span>2</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>3</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>4</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>5</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>6</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>7</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>8</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>9</a></td>
                <td class="o2col"><a href="#"><span class="o2"></span>10</a></td>
                <td id="glecol"><a href="#"><span id="gle"></span>Next</a></td>
            </tr>
            </tbody>
        </table>
    </div>


    <footer>
        <p id="location">
            <span id="bigdot"></span>
            Quezon City, Metro Manila - From your Internet address - <a href="#">Use precise location</a> - <a href="#">Learn
            more</a>
        </p>
        <nav>
            <ul id="footermenu">
                <li><a href="#">Help</a></li>
                <li><a href="#">Send feedback</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
<script>
    $.extend({
        StandardPost: function (url, args) {
            var form = $("<form method='post'></form>"),
                input;
            form.attr({"action": url});
            $.each(args, function (key, value) {
                input = $("<input type='hidden'>");
                input.attr({"name": key});
                input.val(value);
                form.append(input);
            });
            $("#container").append(form);
            form.submit();
        }
    });
    $("#searchbutton").click(function () {
        var s = $("#searchbar").val();
        console.log(s)
        $.StandardPost('search', {'s': s});
    });
</script>
</html>
